body {
  margin: 0;
  padding: 0;
  background-image: url(../assets/bg.jpg);
  background-size: cover;
}

.escenario {
  width: 1280px;
  height: 692px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .escenario {
    width: 100%;
    height: auto;
  }
  .escenario #myCanvas {
    width: 100%;
    height: auto;
  }
}
