@import "fuentes";
//VARAIBLES;
$light: 'bree_peru_ltlight';
$regular: 'bree_peruregular';
$bold: 'bree_perubold';
/*Fin de Variables*/
@mixin breakpoint($break){
    @if $break == L {
        @media(max-width: 1420px){
            @content
                }
    }
    @else if $break == M {
        @media(max-width: 1200px){
            @content
                }
    }
    @else if $break == S {
        @media(max-width: 990px){
            @content
                }
    }
    @else if $break == XS {
        @media(max-width: 760px){
            @content
                }
    }
    @else{
        @media($break) {
            @content
                }
    }
}

body{
    margin: 0;
    padding: 0;
    background-image: url(../assets/bg.jpg);
    background-size: cover;
}
.escenario{
    width: 1280px;
    height: 692px;
    margin: 0 auto;
    @include breakpoint(M){
        width: 100%;
        height: auto;
        #myCanvas{
            width: 100%;
            height: auto;
        }
    }
}

.cargaContainer{
    width: 100%;
    display: block;
    position: absolute;
    .preBase{
        width: 150px;
        height: 4px;
        left: 50%;
        top: 50%;
        position: absolute;
        margin-left: -75px;
        margin-top: -2px;
        background-color: #999;
        border-radius: 2px;
    }
    .precarga{
        width: 150px;
        height: 4px;
        left: 50%;
        top: 50%;
        position: absolute;
        margin-left: -75px;
        margin-top: -2px;
        background-color: #fff;
        border-radius: 2px;
    }
    .texto{
        font-family: $regular;
        left: 50%;
        top: 50% !important;
        position: absolute;
        margin-left: -15px;
        margin-top: 12px;
        color: #fff;
    }
    .txtLoad{
        color: #fff;
        font-family: $regular;
        font-size: 20px;
        left: 50%;
        margin-left: -45px;
        margin-top: -37px;
        position: absolute;
        top: 50% !important;
    }
}